<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Email</strong>  <%= @user.email %>
    </td>
  </tr>
</table>

